.App {
  text-align: center;
  background: #f8f9fa;
  font-family: 'Work Sans', sans-serif;
}

#logo-container {
  height: auto;
  width: auto;
  margin: 0px;
}
#logo {
  height: 100px;
  width: 200px;
  padding: 0px;
  margin: 10px;
  object-fit: cover;
}

#img-container{
  height: 80vh;
}
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

#details-container{
  border: none;
}
#details-pic-container {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.details-pic {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin: auto auto;
}

.icons {
  font-size: 70px;
}

#form-container {
  width: 60%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
}

@media only screen and (max-width: 400px) {
  #hero video {
    height: 400px;;
  }
  #form-container {
    width: auto;
  }
  #details-pic-container {
    display: none;
  }
}
